pre code {
 cursor: pointer;
  &:hover {
    background-color: green;

  }
}

.card{
  margin: 8px;
  background-color: #dedede;
  padding:8px;
  border-radius: 5px;

  width: fit-content;

  .msg,
  pre,
  code{
    font-size: .85em;
  }

  pre{
    margin:0 0 .4em 0 ;
    position: relative;
  }

  .msg{
    float: right;
    margin-bottom: 0;
    //font-size: 10px;
    position: absolute;
    //width: 100%;
    text-align: right;
    right: 0;
    line-height: 19px;

    &.hover{
      color: green;
      background: rgba(222,222,222, .85);
      padding-left: 10px;
      margin:0 0 .4em 0 ;
      z-index: 10;
    }

    &.click{
      color: darkred;
      z-index: 9;
    }
  }
}

.title{
  font-weight: bold;
}

/* FLEX */
main{
  align-items: self-start;
  flex-wrap: wrap;
  display: flex;
  .card{
    flex: 1 1 auto;
  }
}

